<article class="doctor-thumbnail">
    <img src="{{ asset('uploads/' ~ doctor.photo) }}" alt="Jack Smith">
    <div class="doctor-details">
        <h4>{{ doctor.fullname }}</h4>
        <p class="doctor-skills">
            {% for skill in doctor.skills %}
                <span>{{ skill.label }}</span>
            {% endfor %}
        </p>
        <a href="{{ path('doctor_show', {'id': doctor.id}) }}" class="btn btn-dark">
            <i class="fa fa-eye"></i>
            Plus d'information
        </a>
    </div>
</article>